body {
  background-color: hsla(108, 100%, 12%, 0.726);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 6rem;
  font-family: Arial, sans-serif;
}
.header-title {
  color: white;
  font-size: 1.5em;
  margin-bottom: 2rem;
}

.main-container {
  width: 400px;
  text-align: center;
}
.form-box {
  background-color: hsl(0, 0%, 88%);
  border: 0.1rem solid hsl(0, 0%, 67%);
  border-radius: 0.5rem;
  padding: 2rem 2rem 1rem 2rem;
  text-align: left;
}
.form-box > div {
  margin-bottom: 1rem;
  display: flex;
}
.form-group {
  justify-content: space-between;
  align-items: center;
}

.textfield {
  padding: 0.5rem;
  border: 0.1rem solid hsl(0, 0%, 40%);
  background-color: white;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group > label {
  flex-basis: 30%;
  padding-right: 4.2ch;
}

.remove-button {
  background-color: white; /* Light button color */
  color: black;
  border: 0.1rem solid hsl(0, 0%, 40%);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.remove-button:hover {
  background-color: hsla(0, 0%, 95%, 0.815);
}
.remove-button:active {
  background-color: hsla(0, 100%, 38%, 0.815);
}
